@font-face {
  font-family: Helvetica;
  src: url("../Font/Helvetica.ttf") format("truetype");
  src: url("../Font/helvetica-light.ttf") format("truetype");
}


body {
  font-family: Helvetica, sans-serif;
  background-color: black;
}

div {
  text-transform: uppercase;
}

#AC {
  display: flex;

}

#ACS {
  width: auto;
  justify-content: center;
}

.access {
  font-size: 2em;
  font-weight: bold;
  color: white;
  border-bottom: 0.5px solid white;
}

.code {
  font-size: 2em;
  border-bottom: 0.5px solid white;
  color: black;
  background-color: #F24A66;
}

.school {

  display: inline-block;
  text-align: center;
  padding-left: 1.45em;
  letter-spacing: 2em;
  font-weight: lighter;
  transform: scaleY(1.8);
  line-height: 1.8em;
  color: white;
}

.lt {
  display: flex;
  font-size: 2em;
  color: #F24A66;
  transform: scaleY(1.2);
  padding-right: .200em;

}

.gt {
  display: inline-flex;
  font-size: 2em;
  color: #F24A66;
  transform: scaleY(1.2);
  padding-left: .200em;

}
